APIFY_TOKEN=your_apify_api_token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
PRICE_THRESHOLD=6000
MIN_QUANTITY=2
STUBHUB_EVENT_URL=https://www.stubhub.com/event/123456
GAMETIME_EVENT_URL=https://gametime.co/event/123456
